<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item dropdown show">
        <a class="nav-link dropdown-toggle Active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Atomobile</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Gas Log</a>
            <a class="dropdown-item" href="#">Gas discount</a>
            <a class="dropdown-item" href="#">Car information</a>
          </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Note</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
    </ul>
  </div>                           
</header>